<div content>
  <ul class="demo-list-two mdl-list">
    <form>
      <input type="text" name="search" #input1 placeholder="pesquise aqui...">
      <input type="text" name="search2" #input2 placeholder="pesquise aqui...">
      <div (click)="enviar(input1.value,input2.value)">Enviar</div>
    </form>
    <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let persona of personas; let i = index">

      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>{{persona.classe}}</span>
        <span class="mdl-list__item-sub-title">{{persona.descricao}}</span>
      </span>
      <span class="mdl-list__item-secondary-content">
        <span class="mdl-list__item-secondary-info" [ngClass]="{favoritado: favoritado[i]}">Favoritado</span>
        <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons" (click)="click3(i)">star</i></a>
      </span>
      <span class="mdl-list__item-secondary-content">
        <a class="mdl-list__item-secondary-action red" (click)="remove(i)" href="#">
          <i class="material-icons">close</i>
        </a>
      </span>
    </li>

  </ul>
</div>
